.wrapper {
    width: 100%;
    margin: 0 auto;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

// .banner-wrapper {
//     background-color: var(--primary);
//     width: 100%;
//     height: 650px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     > img {
//         width: 100%;
//         height: 100%;
//         object-fit: fill;
//     }
// }

.banner-wrapper {
    background-color: #0B0E2B;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 756px;

    > img {
        height: 100%;
        object-fit: cover;
    }
}

.about-wrapper,
.vision-wrapper,
.mission-wrapper,
.core-value-wrapper {
    margin-bottom: 30px;
    width: var(--default-layout-width);

    .title {
        font-size: 1.5em;
        color: var(--primary);
        margin-bottom: 15px;
    }

    p,
    ul {
        font-size: 1em;
        // color: $text-color;
        line-height: 1.6;
        list-style: none;
    }

    ul {
        padding-left: 20px;

        li {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 768px) {
    .inner {
        padding: 15px;
    }

    .about-wrapper,
    .vision-wrapper,
    .mission-wrapper,
    .core-value-wrapper {
        .title {
            font-size: 1.3em;
        }

        p,
        ul {
            font-size: 0.9em;
        }
    }
}

// .card-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 30px;
//     height: 70vh;
// }

// .card {
//     background-color: var(--white);
//     border: solid 0.1px rgba(0, 0, 0, 0.1);
//     overflow: hidden;
//     transition: transform 0.3s ease, background-color 0.3s ease;
//     width: 360px;
//     height: 380px;
//     padding: 40px;

//     display: grid;
//     grid-template-rows: auto 1fr auto;

//     &:hover {
//         transform: scale(1.05);
//         background-color: var(--primary);

//         .card-title p,
//         .card-content p {
//             color:var(--white);
//         }

//         .card-button a {
//             color: var(--white);
//         }
//     }
// }

// .card-title p {
//     color: var(--primary);
//     font-size: 24px;
//     font-weight: bold;
// }

// .card-content p {
//     color: #333;
//     font-size: 16px;
//     margin: 10px 0;
// }

// .card-button {
//     margin-top: 20px;
//     display: flex;
//     justify-content: flex-start;
//     align-items: end;

//     a {
//         font-weight: 600;
//         color: #333;
//         text-decoration: none;

//         &:hover {
//             font-weight: 700;
//             color: var(--white);
//         }
//     }
// }

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80vh;
}

.card {
    background-color: var(--white);
    border: solid 0.1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;

    &:hover {
        transform: scale(1.05);
        background-color: var(--primary);

        .card-title p,
        .card-content p {
            color: var(--white);
        }

        .card-button a {
            color: var(--white);
        }
    }
}

.card-title p {
    color: var(--primary);
    font-size: 24px;
    font-weight: bold;
}

.card-content p {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}

.card-button {
    display: flex;
    justify-content: flex-start;

    a {
        font-weight: 600;
        color: #333;
        text-decoration: none;

        &:hover {
            font-weight: 700;
            color: var(--white);
        }
    }
}