
.wrapper {
    width: 100%;
    color: white; // White text for better readability
    padding: 40px 0; // Adequate padding for spacing
    flex-direction: column;
    background: linear-gradient(135deg, #0c0f69, #020d22); // Gradient background
    box-shadow: 0px 40px 300px rgba(0, 0, 0, 0.2); // Shadow for depth
}
.inner {
    display: flex;
    justify-content: space-between; // Evenly distribute columns
    max-width: 1200px; // Limit the width of the footer
    margin: 0 auto; // Center the footer
    padding: 0 20px; // Inner padding
}

.column {
    flex: 1; // Each column takes equal space
    margin: 0 37px; // Spacing between columns
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
    img {
        width: 100px;
        height: auto;
        border-radius: 50%; // Circular logo
    }
}

.description {
    font-size: 14px; // Smaller font size for description
    line-height: 1.5; // Increase line height for readability
}

.title {
    font-size: 18px; // Larger title font size
    font-weight: bold; // Bold titles
    margin-bottom: 10px; // Spacing below titles
    border-bottom: 2px solid #007bff; // Bottom border for emphasis
    padding-bottom: 5px; // Spacing below the border
}

.nav {
    display: flex;
    flex-direction: column; // Stack links vertically
}

.nav-item {
    margin: 8px 0; // Spacing between links
    color: #ffffff; // Link color
    text-decoration: none; // Remove underline
    transition: color 0.3s; // Transition for hover effect
}

.nav-item:hover {
    color: #ffffff; // Darker color on hover
    font-weight: 700;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px; // Spacing between contact items
    font-size: 14px; // Font size for contact details
}

.icon {
    margin-right: 10px; // Spacing between icon and text
    color: #007bff; // Icon color
    font-size: 16px; // Slightly larger icon
}

.footer-bottom {
    text-align: center; // Center the copyright text
    margin-top: 30px; // Spacing above
    font-size: 14px; // Font size for footer text
    color: #ccc; // Lighter color for copyright text
}
