/* CSS cho trang đổi mật khẩu */
.change-password {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Arial, sans-serif;
  }
  
  /* Tiêu đề của trang */
  .change-password-header {
    text-align: center;
    font-size: 24px;
    color: #0074e0;
    margin-bottom: 20px;
  }
  
  /* Container của form */
  .form-container {
    display: flex;
    flex-direction: column;
    
  }
  
  /* Label cho các input */
  .input-label {
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
  }
  
  .input-label-text {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Input field */
  .input-field {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
  }
  
  .input-field:focus {
    border-color: #0074e0;
  }
  
  /* Button submit */
  .submit-button {
    padding: 12px;
    background-color: #0074e0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .submit-button:focus {
    outline: none;
  }
  
  /* Thông báo kết quả */
  .message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #4CAF50;
    font-weight: bold;
  }
  
  /* CSS cho trạng thái lỗi */
  .message.error {
    color: red;
  }