// .namecard-container {
//     .slick-slider {
//       .slick-track {
//         display: flex;
//       }
//     }
//   }
  
//   .card-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     /* Đảm bảo rằng chiều rộng và chiều cao của các thẻ là phù hợp */
//     width: 100%;
//     height: auto;
//   }

.feed-wrapper {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 20%;
  // flex: 1;
  // padding: 20px;
  // background-color: #f0f0f0;
}

.main-content {
  width: 60%;
  // flex: 1;
  display: flex;
  flex-direction: column;
}

.namecard-container {
  width: 100%;
  height: 10px;

  .slick-slider {
      .slick-track {
          display: flex;
      }
  }
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  // height: auto;
}

.posts-container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  // padding: 20px;
  background-color: #631818;
  border-top: 1px solid #ddd;
}