

.container {
    .slick-slider {
      .slick-track {
        display: flex;
      }
    }
  }
  
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Đảm bảo rằng chiều rộng và chiều cao của các thẻ là phù hợp */
    width: 100%;
    height: auto;
  }

  
  